<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nanodoctor</title>
    <meta name="viewport" content= "width=device-width">
    {% load staticfiles %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body>
    <div class="main-wrap">
        <div class="b-menu">
            <div class="container _relative">
                <div class="items">
                    <div class="item logo">
                        <span class="align">Inno-Colloids</span>
                    </div>
                    <div class="item true">
                        <a href="#b-targets" class="link">О продукте</a>
                    </div>
                    <div class="item true">
                        <a href="#b-gradient" class="link">Как работает</a>
                    </div>
                    <div class="item true">
                        <a href="#b-unique" class="link">Наши преимущества</a>
                    </div>
                    <div class="item true">
                        <a href="#b-contacts" class="link">Контакты</a>
                    </div>
                    <div class="item true">
                        <a href="#order-form" class="btn btn-alt">Оставить заявку</a>
                    </div>
                    <div class="item toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="b-first">
            <div class="container">
                <div class="content">
                    <h1 class="header">Nano Doctor</h1>
                    <p class="subheader">
                        Когда все вокруг болеют и ты боишься заразиться. Уникальный блокатор вирусов и бактерий
                    </p>
                    <a href="#order-form" class="btn btn-default">Узнать подробности</a>
                </div>
            </div>
        </div>

        <div class="b-protect">
            <div class="container _relative">
                <div class="b-targets" id="b-targets">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="icon icon-1"></div>
                            <p class="text">Для персональной защиты</p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="icon icon-2"></div>
                            <p class="text">Для фабрик и заводов</p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="icon icon-3"></div>
                            <p class="text">Для автомобилей</p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="icon icon-4"></div>
                            <p class="text">Для детских садов</p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="icon icon-5"></div>
                            <p class="text">Для офисных зданий и сооружений</p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="icon icon-6"></div>
                            <p class="text">Для вентиляции</p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="icon icon-7"></div>
                            <p class="text">Для больниц и госпиталей</p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="icon icon-8"></div>
                            <p class="text">Для торговых центров и магазинов</p>
                        </div>
                    </div>
                </div>

                <div class="slider">
                    <input type="radio" name="slider" id="slide1" checked="checked">
                    <label for="slide1"></label>
                    <div class="slide">
                        <h3 class="slide_header">Первый слайд</h3>
                        <p class="slide_text">Первый слайд первый слайд первый слайд первый слайд первый слайд первый слайд первый слайд</p>
                    </div>
                    <input type="radio" name="slider" id="slide2">
                    <label for="slide2"></label>
                    <div class="slide">
                        <h3 class="slide_header">Второй слайд</h3>
                        <p class="slide_text">Второй слайд второй слайд второй слайд второй слайд второй слайд второй слайд второй слайд второй слайд второй слайд</p>
                    </div>
                    <input type="radio" name="slider" id="slide3">
                    <label for="slide3"></label>
                    <div class="slide">
                        <h3 class="slide_header">Третий слайд</h3>
                        <p class="slide_text">Третий слайд третий слайд третий слайд третий слайд третий слайд третий слайд третий слайд</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="b-gradient" id="b-gradient">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="block-header">Как работает Nano Doctor?</h2>
                        <p class="text">
                            Nano Doctor – уникальный блокатор бактерий и вирусов. Основное действующее вещество – диоксид хлора.
                            Нужен более подробный текст. Средство представляет собой картридж с активным веществом,
                            который после извлечения создает в зоне дыхания человека «купол чистоты».
                        </p>
                        <a href="#order-form" class="btn btn-second">Оставить заявку</a>
                    </div>
                    <div class="col-md-6">
                        <a href="https://youtu.be/omsZjNKZoGA" class="video" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="b-unique" id="b-unique">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="img"></div>
                    </div>
                    <div class="col-md-6">
                        <h2 class="block-header">Уникальная технология хранения</h2>
                        <div class="text">
                            Мы разработали технологию, которая позволяет селективно сорбировать диоксид хлора с дальнейшей
                            десорбцией; разработанная нами матрица служит контейнером для хранения только одного вещества,
                            тем самым исключая вероятность попадания туда других опасных хлорсодержащих веществ.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-package">
            <div class="container">
                <div class="content">
                    <h2 class="block-header">Точные данные о каждой упаковке</h2>
                    <div class="text">
                        Мы используем технологию «блокчейн», которая позволяет каждому обладателю нашего продукта
                        по уникальному QR-коду на упаковке точно узнать полный путь конкретно этой товарной единицы,
                        включая – данные кто и когда её упаковал, каков срок годности, маршрут отгрузки, но самое важное,
                        что компания «Инноколлоид» делает открытыми для конечного пользователя данные по концентрации активного
                        компонента, обеспечивая возможность полного контроля безопасности к использованию нашего продукта.
                    </div>
                    <div class="flex">
                        <div class="qr"></div>
                        <div class="arrow"></div>
                        <div class="frame">
                            <table>
                                <tr>
                                    <td>
                                        <span class="label">Упаковал</span>
                                    </td>
                                    <td>Игнатьев А.А.</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label">Место изготовления</span>
                                    </td>
                                    <td>Москва</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label">Дата упаковки</span>
                                    </td>
                                    <td>07.03.2018</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label">Срок годности</span>
                                    </td>
                                    <td>07.03.2022</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label">Маршрут отгрузки</span>
                                    </td>
                                    <td>Париж, Мадрид</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label">Концентрация</span>
                                    </td>
                                    <td>2.5%</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-scaling">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h2 class="block-header">Оптимальное масштабирование</h2>
                        <p class="text">
                            Мы предоставляем возможность самостоятельно выбрать размер и форму фасовки, благодаря чему наш
                            продукт подходит для персонального использования и для применения в крупных масштабах, к примеру,
                            в крупных учреждениях, офисах и производствах. Мы предлагаем наш препарат для наполнения элементов
                            средств индивидуальной защиты, элементов фильтрационной очистки офисных и промышленных
                            вентиляционных установок, элементов фильтрации воздуха в автомобилях и многое другое.
                        </p>
                    </div>
                    <div class="col-md-5">
                        <div class="img"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-contacts">
            <div class="frame">
                <div class="row no-gutters">
                    <div class="col-md-6 item">
                        <div class="block-header">Контакты</div>
                        <div class="text">
                            Мы всегда готовы к сотрудничеству. Вы можете воспользоваться формой обратной связи или контактами.
                        </div>
                        <div class="contact -loc">
                            <span class="align">г. Санкт-Петербург, <br> Ломоносова ул, д. 9 лит «А»</span>
                        </div>
                        <div class="contact -mail">
                            <span class="align">request@nanodoctor.pro</span>
                        </div>
                        <div class="contact -phone">
                            <span class="align">+7 (999) 219-72-56</span>
                        </div>
                    </div>
                    <div class="col-md-6 item" id="order-form">
                        <div class="block-header">Обратная связь</div>
                        <form action="">
                            <div class="wrap">
                                <label for="name" class="label">Ваше имя</label>
                                <input type="text" id="name" class="input" required>
                            </div>
                            <div class="wrap">
                                <label for="phone" class="label">Ваш номер телефона</label>
                                <input type="tel" id="phone" class="input" required>
                            </div>
                            <div class="wrap">
                                <label for="message" class="label">Ваше сообщение</label>
                                <textarea id="message" class="input" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default submit">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-footer">
            <div class="container">
                <div class="items">
                    <div class="item logo">
                    </div>
                    <div class="item">
                        <a href="#b-first" class="link">О продукте</a>
                    </div>
                    <div class="item">
                        <a href="#b-gradient" class="link">Как работает</a>
                    </div>
                    <div class="item">
                        <a href="#b-unique" class="link">Наши преимущества</a>
                    </div>
                    <div class="item">
                        <a href="#b-contacts" class="link">Контакты</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    var menu = document.querySelector('.b-menu');
    var toggle = document.querySelector('.b-menu .toggle');
    toggle.addEventListener("click", function(e) {
        menu.classList.toggle('-opened');
    });
</script>
</body>
</html>
