<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nanodoctor</title>
    <meta name="viewport" content= "width=device-width">
    {% load staticfiles %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body>
    <div class="main-wrap">
        <div class="b-menu">
            <div class="container _relative">
                <div class="items">
                    <div class="item logo">
                        <span class="align">Inno-Colloids</span>
                    </div>
                    <div class="item true">
                        <a href="#b-targets" class="link">About</a>
                    </div>
                    <div class="item true">
                        <a href="#b-gradient" class="link">How it works</a>
                    </div>
                    <div class="item true">
                        <a href="#b-unique" class="link">Advantages</a>
                    </div>
                    <div class="item true">
                        <a href="#b-contacts" class="link">Contacts</a>
                    </div>
                    <div class="item true">
                        <a href="#order-form" class="btn btn-alt">Leave a request</a>
                    </div>
                    <div class="item toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="b-first">
            <div class="container">
                <div class="content">
                    <h1 class="header">Nano Doctor</h1>
                    <p class="subheader">
                        Everybody is sick and you are afraid to get infected by a virus. Everybody is sick and you are afraid to get infected by a virus
                    </p>
                    <a href="#order-form" class="btn btn-default">Know more</a>
                </div>
            </div>
        </div>

        <div class="b-protect">
            <div class="container _relative">
                <div class="b-targets" id="b-targets">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="icon icon-1"></div>
                            <p class="text">Personal use</p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="icon icon-2"></div>
                            <p class="text">Industrial facilities</p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="icon icon-3"></div>
                            <p class="text">Automobiles</p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="icon icon-4"></div>
                            <p class="text">Kindergartens</p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="icon icon-5"></div>
                            <p class="text">Offices</p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="icon icon-6"></div>
                            <p class="text">Air ventilation</p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="icon icon-7"></div>
                            <p class="text">Hospitals</p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="icon icon-8"></div>
                            <p class="text">Shopping malls</p>
                        </div>
                    </div>
                </div>

                <div class="slider">
                    <input type="radio" name="slider" id="slide1" checked="checked">
                    <label for="slide1"></label>
                    <div class="slide">
                        <h3 class="slide_header">Kills virus from the outside</h3>
                        <p class="slide_text">Due to «dome of purity» virus and bacteria are destroyed before getting into organism</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="b-gradient" id="b-gradient">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="block-header">How does Nano Doctor work?</h2>
                        <p class="text">
                            Nano Doctor is a unique Virus and Bacteria Blocker. The main active substance is Chlorine Dioxide. The Nano Doctor represents a cartridge with the active substance which makes «dome of purity» after extraction.
                        </p>
                        <a href="#order-form" class="btn btn-second">Leave a request</a>
                    </div>
                    <div class="col-md-6">
                        <a href="https://youtu.be/omsZjNKZoGA" class="video" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="b-unique" id="b-unique">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="img"></div>
                    </div>
                    <div class="col-md-6">
                        <h2 class="block-header">A unique storage technology</h2>
                        <div class="text">
                            We created a technology, which allows the selective absorption of Chlorine Dioxide for the further desorption of the active substance into the surrounding environment. The matrix we have developed serves as a special container for the storage of only one substance and according to it completely excludes the probability of being penetrated by any other more dangerous chlorine containing molecules.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-package">
            <div class="container">
                <div class="content">
                    <h2 class="block-header">The exact data on each package</h2>
                    <div class="text">
                        We use block chain process of quality control which allows each owner of the product to read one of the kind QR code on the package of the product to learn the item`s complete chain of production, to include: who packed it and when; the expiration date; shipment route. And the most importantly  – the company ”Inno-Colloid” gives to the end user the full access to data on the concentration of the active component and ensuring the ability to fully control the safety of the use of our product.
                    </div>
                    <div class="flex">
                        <div class="qr"></div>
                        <div class="arrow"></div>
                        <div class="frame">
                            <table>
                                <tr>
                                    <td>
                                        <span class="label">Packed by</span>
                                    </td>
                                    <td>Ignatiev A.A</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label">>Packed in</span>
                                    </td>
                                    <td>Moscow</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label">Date of package</span>
                                    </td>
                                    <td>07.03.2018</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label">Expiration date</span>
                                    </td>
                                    <td>07.03.2022</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label">Shipment route</span>
                                    </td>
                                    <td>Paris</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label">Concentration of the active component</span>
                                    </td>
                                    <td>2.5%</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-scaling">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h2 class="block-header">Optimal scaling</h2>
                        <p class="text">
                           We provide you the opportunity to choose the size and shape of the packaging for yourself, ensuring that our product is suitable for both personal use, as well as large-scale application. For instance: big institutes, manufacturing facilities, offices.  We suggest the use of our product for filling instrument elements for personal protection, filter elements for air ventilation systems, offices and industrial facilities, automobiles ventilation systems and many others
                        </p>
                    </div>
                    <div class="col-md-5">
                        <div class="img"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-contacts">
            <div class="frame">
                <div class="row no-gutters">
                    <div class="col-md-6 item">
                        <div class="block-header">Contacts</div>
                        <div class="text">
                            We are always ready for contribution. Contact us or leave your number/ email and we will contact you.
                        </div>
                        <div class="contact -loc">
                            <span class="align">St. Petersbug, <br> Lomonosova st., 9 «А»</span>
                        </div>
                        <div class="contact -mail">
                            <span class="align">request@nanodoctor.pro</span>
                        </div>
                        <div class="contact -phone">
                            <span class="align">+7 (999) 219-72-56</span>
                        </div>
                    </div>
                    <div class="col-md-6 item" id="order-form">
                        <div class="block-header">Write to us</div>
                        <form action="">
                            <div class="wrap">
                                <label for="name" class="label">Name</label>
                                <input type="text" id="name" class="input" required>
                            </div>
                            <div class="wrap">
                                <label for="phone" class="label">Phone number</label>
                                <input type="tel" id="phone" class="input" required>
                            </div>
                            <div class="wrap">
                                <label for="message" class="label">Message</label>
                                <textarea id="message" class="input" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default submit">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-footer">
            <div class="container">
                <div class="items">
                    <div class="item logo">
                    </div>
                    <div class="item">
                        <a href="#b-first" class="link">About</a>
                    </div>
                    <div class="item">
                        <a href="#b-gradient" class="link">How it works</a>
                    </div>
                    <div class="item">
                        <a href="#b-unique" class="link">Advantages</a>
                    </div>
                    <div class="item">
                        <a href="#b-contacts" class="link">Contacts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    var menu = document.querySelector('.b-menu');
    var toggle = document.querySelector('.b-menu .toggle');
    toggle.addEventListener("click", function(e) {
        menu.classList.toggle('-opened');
    });
</script>
</body>
</html>
